@model FoodItem

@*<div class="col-sm-3">
    <div class="card-deck">
        <div class="card shadow">
            <img class="card-img-top img-thumbnail" src="@Model.ImageUrl" />
            <div class="card-body">
                <h3 class="pull-right">@Model.Price</h3>
                <a asp-controller="Fooditem" asp-action="Details" asp-route-id="@Model.FoodId">
                    <h3 class="card-title">
                        @Model.FoodName
                    </h3>
                </a>
                <p class="card-text">
                    &ldquo; @Model.FoodDescription &rdquo;
                </p>
                <a class="lnk btn btn-success btn-block mt-2"
                   asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-fooditemid="@Model.FoodId">
                    Add To Cart
                </a>
            </div>
        </div>
    </div>
</div>*@
@*<div class="card-deck">*@
    <div class="col mb-4">
        <div class="card h-100">
            <!-- Sale badge-->
            @if (Model.HasDiscount == true)
            {
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">50% Discount</div>
            }
            <!-- Product image-->
            <img class="card-img-top" src="@Model.ImageUrl" alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">@Model.FoodName</h5>
                    <!-- Product price-->
                    @if (Model.HasDiscount == true)
                    {
                        <span class="text-muted text-decoration-line-through">₹ @(2 * @Model.Price)</span>
                    }
                    ₹ @Model.Price
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer">
                <div class="btn-wrapper text-center d-flex justify-content-between">
                    <a class="btn btn-dark  btn-sm text-white d-flex align-items-center" style="width:auto" asp-controller="Fooditem" asp-action="Details" asp-route-id="@Model.FoodId">View</a> &nbsp;
                    <a class="btn btn-dark text-white" asp-controller="ShoppingCart" style="width:auto" asp-action="AddToShoppingCart" asp-route-fooditemid="@Model.FoodId">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
@*</div>*@
